.user-menu {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 18px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}
